:root {
   font-synthesis: none;
   text-rendering: optimizeLegibility;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}
html {
   font-size: 20px;
   line-height: normal;
   -webkit-text-size-adjust: 100%;
   overflow-y: scroll;
   scroll-behavior: smooth;
}
@media (max-width: 1800px) {
   html {
      font-size: 20px;
   }
}
@media (max-width: 1400px) {
   html {
      font-size: 1.95vw;
   }
}
@media (max-width: 1024px) {
   html {
      font-size: 2.6vw;
   }
}
@media (max-width: 768px) {
   html {
      font-size: 5.33vw;
   }
}
body {
   background-color: #e2e2e2;
   color: #566033;
   font-family: "Nunito Sans";
   scrollbar-gutter: stable;
}
.container {
   max-width: 78rem;
   margin: 0 auto;
}
@media (max-width: 1800px) {
   .container {
      max-width: 65rem;
   }
}
@media (max-width: 1400px) {
   .container {
      max-width: none;
      margin: 0;
      padding: 0 2.5rem;
   }
}
@media (max-width: 768px) {
   .container {
      padding: 0 1rem;
   }
}
.section {
   margin-bottom: 12rem;
}
@media (max-width: 1800px) {
   .section {
      margin-bottom: 8rem;
   }
}
@media (max-width: 1400px) {
   .section {
      margin-bottom: 7rem;
   }
}
@media (max-width: 1024px) {
   .section {
      margin-bottom: 6rem;
   }
}
img {
   width: 100%;
   height: 100%;
   object-fit: contain;
}
svg {
   width: 100%;
   height: auto;
}
main {
   overflow: hidden;
}

header {
   position: fixed;
   width: 100%;
   top: 0;
   overflow: hidden;
   z-index: 1;
   transition: background-color 0.2s;
}
header.scrolled {
   background: rgba(0, 0, 0, 0.8);
}
header.scrolled .header {
   padding-top: 0.8rem;
   padding-bottom: 0.8rem;
}
@media (max-width: 1800px) {
   header.scrolled .header {
      padding-top: 0.6rem;
      padding-bottom: 0.6rem;
   }
}
@media (max-width: 768px) {
   header.scrolled .header {
      padding-top: 0.4rem;
      padding-bottom: 0.4rem;
   }
}
.header {
   padding-top: 1.4rem;
   padding-bottom: 1.4rem;
   display: flex;
   align-items: center;
   justify-content: space-between;
   transition: padding 0.2s;
}
@media (max-width: 1800px) {
   .header {
      padding-top: 1.2rem;
      padding-bottom: 1.2rem;
   }
}
@media (max-width: 768px) {
   .header {
      padding-top: 1rem;
      padding-bottom: 1rem;
   }
}
.header__btns {
   display: flex;
   align-items: center;
   gap: 2.5rem;
}
@media (max-width: 1400px) {
   .header__btns {
      gap: 2rem;
   }
}
@media (max-width: 1024px) {
   .header__btns {
      gap: 1.2rem;
   }
}
.header__logo {
   width: 4rem;
   display: flex;
   align-items: center;
   justify-content: center;
}
@media (max-width: 1800px) {
   .header__logo {
      width: 2.8rem;
   }
}
@media (max-width: 768px) {
   .header__logo {
      width: 1.2rem;
   }
}
.header__link {
   display: block;
   color: #fff;
   font-size: 1rem;
}
@media (max-width: 1800px) {
   .header__link {
      font-size: 0.7rem;
   }
}
@media (max-width: 1024px) {
   .header__link {
      font-size: 0.6rem;
   }
}
@media (max-width: 768px) {
   .header__link {
      display: none;
   }
}
.header__contact {
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 0.3rem;
}
@media (max-width: 768px) {
   .header__contact {
      gap: 0.2rem;
   }
}
.header__contact-link {
   display: block;
   color: #fff;
   font-size: 1rem;
}
@media (max-width: 1800px) {
   .header__contact-link {
      font-size: 0.7rem;
   }
}
@media (max-width: 1024px) {
   .header__contact-link {
      font-size: 0.6rem;
   }
}
@media (max-width: 768px) {
   .header__contact-link {
      font-size: 0.5rem;
   }
}
.header__burger {
   display: none;
   width: 1.2rem;
   background: none;
}
@media (max-width: 768px) {
   .header__burger {
      display: flex;
      align-items: center;
      justify-content: center;
   }
}
.burger {
   display: none;
   position: fixed;
   top: 0;
   right: 0;
   overflow: hidden;
   z-index: 11;
   height: 100%;
   transform: translateX(100%);
   transition: transform 0.5s ease;
   width: 100%;
}
@media (max-width: 768px) {
   .burger {
      display: flex;
      justify-content: flex-end;
   }
}
.burger.active {
   transform: translateX(0);
}
.burger__wrapper {
   height: 100%;
   width: fit-content;
   padding: 1.2rem;
   background: #566033;
   border-radius: 1.2rem 0 0 1.2rem;
}
.burger__container {
   display: flex;
   flex-direction: column;
   gap: 2rem;
}
.burger__closer {
   width: 1.2rem;
   height: 1.2rem;
   display: flex;
   align-items: center;
   justify-content: center;
   background: none;
   align-self: flex-end;
   padding: 0.1rem;
}
.burger__list {
   display: flex;
   flex-direction: column;
   gap: 1.2rem;
   padding-right: 1.2rem;
}
.burger__item {
   display: block;
}
.burger__link {
   color: #fff;
   font-size: 0.7rem;
   font-style: normal;
   font-weight: 300;
   line-height: normal;
}

.screen {
   height: 100vh;
   position: relative;
}
.screen__container {
   height: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 3rem;
   position: absolute;
   width: 100%;
   height: 100%;
}
@media (max-width: 1800px) {
   .screen__container {
      gap: 1.2rem;
   }
}
.screen__bg {
   position: absolute;
   width: 100%;
   height: 100%;
   background: #000;
}
.screen__bg img {
   object-fit: cover;
   opacity: 0.5;
}
.screen__logo {
   width: 16rem;
}
@media (max-width: 1800px) {
   .screen__logo {
      width: 10rem;
   }
}
@media (max-width: 1400px) {
   .screen__logo {
      width: 8rem;
   }
}
@media (max-width: 1024px) {
   .screen__logo {
      width: 6.5rem;
   }
}
.screen__btn {
   display: block;
   padding: 1.2rem 2rem;
   border-radius: 0.8rem;
   border: 1px solid #fff;
   background: rgba(255, 255, 255, 0.08);
   -webkit-backdrop-filter: blur(4px);
   backdrop-filter: blur(4px);
   font-size: 1rem;
   font-style: normal;
   font-weight: 600;
   line-height: normal;
   text-transform: uppercase;
   color: #fff;
}
@media (max-width: 1800px) {
   .screen__btn {
      border-radius: 0.4rem;
      padding: 0.6rem 1.2rem;
      font-size: 0.7rem;
   }
}
@media (max-width: 1024px) {
   .screen__btn {
      font-size: 0.6rem;
   }
}

.menu__tabs-container {
   max-width: 67rem;
   margin: 0 auto;
   margin-bottom: 3rem;
}
.menu__tabs {
   display: flex;
   width: 100%;
   align-items: flex-end;
   justify-content: space-between;
   padding-bottom: 0.6rem;
   border-bottom: 2px solid #566033;
}
.menu__tab,
.menu__tab > a {
   text-transform: uppercase;
   font-size: 1.8rem;
   font-style: normal;
   font-weight: 500;
   line-height: normal;
}
.menu__content {
   display: flex;
   gap: 2rem;
}
.menu__text-container {
   flex: 1;
   align-self: flex-end;
}
.menu__text {
   font-size: 1.2rem;
   font-style: normal;
   font-weight: 500;
   line-height: normal;
   text-transform: uppercase;
   padding-left: 3rem;
   padding-bottom: 1.6rem;
}
.menu__imgs {
   display: flex;
   flex: 2;
   gap: 2rem;
}
.menu__img > img {
   object-fit: cover;
}
.menu__img {
   display: block;
   flex: 1;
   align-self: stretch;
   border-radius: 0.8rem;
   box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.2);
   overflow: hidden;
}
.menu__pic {
   flex: 1;
   align-self: flex-start;
   width: 18rem;
   justify-self: flex-end;
   transform: translateX(40%);
}
.bold {
   font-weight: 800;
}
@media (max-width: 1800px) {
   .menu__tabs-container {
      max-width: 33rem;
      margin-bottom: 2rem;
   }
   .menu__tabs {
      padding-bottom: 0.4rem;
      border-bottom: 1px solid #566033;
   }
   .menu__tab,
   .menu__tab > a {
      font-size: 1rem;
   }
   .menu__content {
      gap: 4.5rem;
   }
   .menu__text {
      font-size: 0.8rem;
      padding-left: 2rem;
      padding-bottom: 0;
   }
   .menu__imgs {
      gap: 2rem;
   }
   .menu__pic {
      width: 18rem;
      transform: translateX(35%);
   }
}
@media (max-width: 1400px) {
   .menu__tabs-container {
      max-width: none;
      margin: auto;
      padding: 0 9rem;
      margin-bottom: 2rem;
   }
   .menu__content {
      gap: 2rem;
   }
   .menu__text {
      font-size: 0.7rem;
      padding-bottom: 1rem;
   }
}
@media (max-width: 1024px) {
   .menu__tabs-container {
      padding: 0 1.5rem;
      margin-bottom: 1.2rem;
   }
   .menu__tabs {
      padding-bottom: 0.4rem;
      border-bottom: 1px solid #566033;
   }
   .menu__tab,
   .menu__tab > a {
      font-size: 0.8rem;
   }
   .menu__content {
      gap: 3rem;
      padding: 0 1.5rem;
   }
   .menu__text {
      flex: auto;
      font-size: 0.7rem;
      padding-left: 0;
      padding-bottom: 0;
   }
   .menu__imgs {
      gap: 1.2rem;
   }
   .menu__pic {
      display: none;
   }
}
@media (max-width: 768px) {
   .menu__tabs-container {
      padding: 0 0.8rem;
      margin-bottom: 1.2rem;
   }
   .menu__tabs {
      padding-bottom: 0.4rem;
      border-bottom: 0.5px solid #566033;
   }
   .menu__tab,
   .menu__tab > a {
      font-size: 0.5rem;
   }
   .menu__content {
      padding: 0 0.8rem;
      flex-direction: column;
      gap: 1.2rem;
   }
   .menu__text {
      font-size: 0.7rem;
      padding-left: 0;
      padding-bottom: 0;
   }
   .menu__imgs {
      gap: 0;
   }
   .menu__img.last {
      display: none;
   }
   .menu__pic {
      flex: 1;
      width: 18rem;
      transform: translateX(40%);
   }
}

.section__title {
   font-size: 3rem;
   font-style: normal;
   font-weight: 500;
   line-height: normal;
   text-transform: uppercase;
   text-align: center;
   max-width: 43rem;
   margin: 0 auto;
   margin-bottom: 1.2rem;
}
.section__text {
   max-width: 43rem;
   margin: 0 auto;
   font-size: 1.2rem;
   font-style: normal;
   font-weight: 500;
   line-height: 160%;
   text-transform: uppercase;
   margin-bottom: 3rem;
   opacity: 0.8;
   text-align: center;
}
.swiper {
   position: static;
}
.swiper-slide {
   display: flex;
   align-items: center;
   justify-content: center;
   height: 13rem;
   border-radius: 0.8rem;
   overflow: hidden;
   transition: width 0.4s ease, height 0.4s ease;
}
.swiper-slide > img {
   object-fit: cover;
}
.swiper-slide-prev,
.swiper-slide-next {
   height: 18rem;
}
.swiper-slide-active {
   height: 25rem;
}
.swiper-wrapper {
   height: 25rem;
   align-items: center;
   margin-bottom: 1.2rem;
}
.about__buttons {
   display: flex;
   position: static;
   align-items: center;
   justify-content: center;
   gap: 1.2rem;
}
.swiper-button-prev,
.swiper-button-next {
   position: static;
   margin-top: 0;
   display: flex;
   align-items: center;
   justify-content: center;
   width: 3rem;
   height: 3rem;
   padding: 0.6rem;
   border-radius: 0.6rem;
   background: rgba(230, 99, 0, 0.2);
}
.swiper-button-next > img {
   transform: rotateZ(180deg);
}
@media (max-width: 1800px) {
   .section__title {
      font-size: 2rem;
      max-width: 32rem;
   }
   .section__text {
      max-width: 32rem;
      font-size: 0.8rem;
      margin-bottom: 2rem;
   }
   .swiper-slide {
      height: 10rem;
   }
   .swiper-slide-prev,
   .swiper-slide-next {
      height: 15rem;
   }
   .swiper-slide-active {
      height: 22rem;
   }
   .swiper-wrapper {
      height: 22rem;
   }
}
@media (max-width: 1400px) {
   .section__title {
      font-size: 2rem;
      max-width: none;
      margin-left: 0;
      margin-right: 0;
      padding: 0 8rem;
   }
   .section__text {
      font-size: 0.7rem;
      max-width: none;
      margin-left: 0;
      margin-right: 0;
      padding: 0 8rem;
   }
   .swiper-slide {
      height: 8rem;
   }
   .swiper-slide-prev,
   .swiper-slide-next {
      height: 11rem;
   }
   .swiper-slide-active {
      height: 16rem;
   }
   .swiper-wrapper {
      height: 16rem;
      margin-bottom: 0.8rem;
   }
   .about__buttons {
      gap: 0.8rem;
   }
   .swiper-button-prev,
   .swiper-button-next {
      width: 2rem;
      height: 2rem;
      padding: 0.4rem;
   }
}
@media (max-width: 1024px) {
   .section__title {
      font-size: 1.6rem;
      padding: 0 6rem;
      margin-bottom: 0.8rem;
   }
   .section__text {
      font-size: 0.6rem;
      padding: 0 6rem;
   }
   .swiper-slide {
      height: 6rem;
   }
   .swiper-slide-prev,
   .swiper-slide-next {
      height: 9rem;
   }
   .swiper-slide-active {
      height: 12rem;
   }
   .swiper-wrapper {
      height: 12rem;
   }
}
@media (max-width: 768px) {
   .section__title {
      font-size: 1.2rem;
      padding: 0 0.8rem;
   }
   .section__text {
      font-size: 0.5rem;
      padding: 0 0.8rem;
   }
   .swiper-slide {
      height: 4rem;
   }
   .swiper-slide-prev,
   .swiper-slide-next {
      height: 7rem;
   }
   .swiper-slide-active {
      height: 10rem;
   }
   .swiper-wrapper {
      height: 10rem;
      margin-bottom: 0.6rem;
   }
   .about__buttons {
      gap: 0.6rem;
   }
   .swiper-button-prev,
   .swiper-button-next {
      width: 2rem;
      height: 2rem;
      padding: 0.4rem;
   }
}
