:root {
   font-synthesis: none;
   text-rendering: optimizeLegibility;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}
html {
   font-size: 20px;
   line-height: normal;
   -webkit-text-size-adjust: 100%;
   overflow-y: scroll;
   scroll-behavior: smooth;
}
@media (max-width: 1800px) {
   html {
      font-size: 20px;
   }
}
@media (max-width: 1400px) {
   html {
      font-size: 1.95vw;
   }
}
@media (max-width: 1024px) {
   html {
      font-size: 2.6vw;
   }
}
@media (max-width: 768px) {
   html {
      font-size: 5.33vw;
   }
}

@media (max-width: 1800px) {
}
@media (max-width: 1400px) {
}
@media (max-width: 1024px) {
}
@media (max-width: 768px) {
}

body {
   background-color: #e6e6e6;
   color: #566033;
   font-family: "Nunito Sans";
   scrollbar-gutter: stable;
}
.container {
   max-width: 78rem;
   margin: 0 auto;
}
@media (max-width: 1800px) {
   .container {
      max-width: 65rem;
   }
}
@media (max-width: 1400px) {
   .container {
      max-width: none;
      margin: 0;
      padding: 0 2.5rem;
   }
}
@media (max-width: 768px) {
   .container {
      padding: 0 1rem;
   }
}
.section {
   margin-bottom: 12rem;
}
@media (max-width: 1800px) {
   .section {
      margin-bottom: 8rem;
   }
}
@media (max-width: 1400px) {
   .section {
      margin-bottom: 7rem;
   }
}
@media (max-width: 1024px) {
   .section {
      margin-bottom: 6rem;
   }
}
img {
   width: 100%;
   height: 100%;
   object-fit: contain;
}
svg {
   width: 100%;
   height: auto;
}
main {
   overflow: hidden;
}
@keyframes appearHeader {
   from {
      transform: translateY(-100%);
   }
   to {
      transform: translateY(0);
   }
}
@keyframes appearLogo {
   from {
      opacity: 0;
   }
   to {
      opacity: 1;
   }
}
@keyframes appearBtn {
   from {
      opacity: 0;
      transform: translateY(100%);
   }
   to {
      opacity: 1;
      transform: translateY(0);
   }
}
@keyframes appearMobile {
   from {
      transform: translateX(200%);
   }
   to {
      transform: translateX(0);
   }
}

header {
   position: fixed;
   width: 100%;
   top: 0;
   overflow: hidden;
   z-index: 11;
   transform: translateY(-100%);
   transition: background-color 0.2s;
   animation: appearHeader 0.5s ease 0.5s forwards;
}
header.scrolled {
   background: rgba(0, 0, 0, 0.8);
}
header.scrolled .header {
   padding-top: 0.8rem;
   padding-bottom: 0.8rem;
}
@media (max-width: 1800px) {
   header.scrolled .header {
      padding-top: 0.6rem;
      padding-bottom: 0.6rem;
   }
}
@media (max-width: 768px) {
   header.scrolled .header {
      padding-top: 0.4rem;
      padding-bottom: 0.4rem;
   }
}
.header {
   padding-top: 1.4rem;
   padding-bottom: 1.4rem;
   display: flex;
   align-items: center;
   justify-content: space-between;
   transition: padding 0.2s;
}
@media (max-width: 1800px) {
   .header {
      padding-top: 1.2rem;
      padding-bottom: 1.2rem;
   }
}
@media (max-width: 768px) {
   .header {
      padding-top: 1rem;
      padding-bottom: 1rem;
   }
}
.header__btns {
   display: flex;
   align-items: center;
   gap: 2.5rem;
}
@media (max-width: 1400px) {
   .header__btns {
      gap: 2rem;
   }
}
@media (max-width: 1024px) {
   .header__btns {
      gap: 1.2rem;
   }
}
.header__logo {
   width: 4rem;
   display: flex;
   align-items: center;
   justify-content: center;
}
@media (max-width: 1800px) {
   .header__logo {
      width: 2.8rem;
   }
}
@media (max-width: 768px) {
   .header__logo {
      width: 1.2rem;
   }
}
.header__link {
   display: block;
   color: #fff;
   font-size: 1rem;
}
@media (max-width: 1800px) {
   .header__link {
      font-size: 0.7rem;
   }
}
@media (max-width: 1024px) {
   .header__link {
      font-size: 0.6rem;
   }
}
@media (max-width: 768px) {
   .header__link {
      display: none;
   }
}
.header__contact {
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 0.3rem;
}
@media (max-width: 768px) {
   .header__contact {
      gap: 0.2rem;
   }
}
.header__contact-link {
   display: block;
   color: #fff;
   font-size: 1rem;
}
@media (max-width: 1800px) {
   .header__contact-link {
      font-size: 0.7rem;
   }
}
@media (max-width: 1024px) {
   .header__contact-link {
      font-size: 0.6rem;
   }
}
@media (max-width: 768px) {
   .header__contact-link {
      font-size: 0.5rem;
   }
}
.header__burger {
   display: none;
   width: 1.2rem;
   background: none;
}
@media (max-width: 768px) {
   .header__burger {
      display: flex;
      align-items: center;
      justify-content: center;
   }
}
.burger {
   display: none;
   position: fixed;
   top: 0;
   right: 0;
   overflow: hidden;
   z-index: 11;
   height: 100%;
   transform: translateX(100%);
   transition: transform 0.5s ease;
   width: 100%;
}
@media (max-width: 768px) {
   .burger {
      display: flex;
      justify-content: flex-end;
   }
}
.burger.active {
   transform: translateX(0);
}
.burger__wrapper {
   height: 100%;
   width: fit-content;
   padding: 1.2rem;
   background: #566033;
   border-radius: 1.2rem 0 0 1.2rem;
}
.burger__container {
   display: flex;
   flex-direction: column;
   gap: 2rem;
}
.burger__closer {
   width: 1.2rem;
   height: 1.2rem;
   display: flex;
   align-items: center;
   justify-content: center;
   background: none;
   align-self: flex-end;
   padding: 0.1rem;
}
.burger__list {
   display: flex;
   flex-direction: column;
   gap: 1.2rem;
   padding-right: 1.2rem;
}
.burger__item {
   display: block;
}
.burger__link {
   color: #fff;
   font-size: 0.7rem;
   font-style: normal;
   font-weight: 300;
   line-height: normal;
}

.screen {
   height: 100vh;
   position: relative;
   overflow: hidden;
}
.screen__container {
   height: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 3rem;
   position: absolute;
   width: 100%;
   height: 100%;
}
@media (max-width: 1800px) {
   .screen__container {
      gap: 1.2rem;
   }
}
.screen__bg {
   position: absolute;
   width: 100%;
   height: 100%;
   background: #000;
}
.screen__bg img {
   object-fit: cover;
   opacity: 0.5;
}
.screen__logo {
   width: 16rem;
   opacity: 0;
   animation: appearLogo 1s ease 1s forwards;
}
@media (max-width: 1800px) {
   .screen__logo {
      width: 10rem;
   }
}
@media (max-width: 1400px) {
   .screen__logo {
      width: 8rem;
   }
}
@media (max-width: 1024px) {
   .screen__logo {
      width: 6.5rem;
   }
}
.screen__btn:hover {
   color: rgba(255, 255, 255, 0.8);
   border-color: rgba(255, 255, 255, 0.8);
}
.screen__btn:active {
   color: #7e7e7e;
   border-color: #7e7e7e;
}
.screen__btn {
   display: block;
   padding: 1.2rem 2rem;
   border-radius: 0.8rem;
   border: 1px solid #fff;
   background: rgba(255, 255, 255, 0.08);
   -webkit-backdrop-filter: blur(4px);
   backdrop-filter: blur(4px);
   font-size: 1rem;
   font-style: normal;
   font-weight: 600;
   line-height: normal;
   text-transform: uppercase;
   color: #fff;
   opacity: 0;
   transform: translateY(100%);
   animation: appearBtn 0.5s ease 1.5s forwards;
   transition: color 0.2s, border-color 0.2s;
}
@media (max-width: 1800px) {
   .screen__btn {
      border-radius: 0.4rem;
      padding: 0.6rem 1.2rem;
      font-size: 0.7rem;
   }
}
@media (max-width: 1024px) {
   .screen__btn {
      font-size: 0.6rem;
   }
}

.menu__tabs-container {
   max-width: 67rem;
   margin: 0 auto;
   margin-bottom: 3rem;
}
.menu__tabs {
   display: flex;
   width: 100%;
   align-items: flex-end;
   justify-content: space-between;
   padding-bottom: 0.6rem;
   border-bottom: 2px solid #566033;
}
.menu__tab,
.menu__tab > a {
   text-transform: uppercase;
   font-size: 1.8rem;
   font-style: normal;
   font-weight: 500;
   line-height: normal;
}
.menu__content {
   display: flex;
   gap: 2rem;
}
.menu__text-container {
   flex: 1;
   align-self: flex-end;
}
.menu__text {
   font-size: 1.2rem;
   font-style: normal;
   font-weight: 500;
   line-height: normal;
   text-transform: uppercase;
   padding-left: 3rem;
   padding-bottom: 1.6rem;
}
.menu__imgs {
   display: flex;
   flex: 2;
   gap: 2rem;
}
.menu__img > img {
   object-fit: cover;
}
.menu__img {
   display: block;
   flex: 1;
   align-self: stretch;
   border-radius: 0.8rem;
   box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.2);
   overflow: hidden;
}
.menu__pic {
   flex: 1;
   align-self: flex-start;
   width: 18rem;
   justify-self: flex-end;
   transform: translateX(40%);
}
.bold {
   font-weight: 800;
}
@media (max-width: 1800px) {
   .menu__tabs-container {
      max-width: 33rem;
      margin-bottom: 2rem;
   }
   .menu__tabs {
      padding-bottom: 0.4rem;
      border-bottom: 1px solid #566033;
   }
   .menu__tab,
   .menu__tab > a {
      font-size: 1rem;
   }
   .menu__content {
      gap: 4.5rem;
   }
   .menu__text {
      font-size: 0.8rem;
      padding-left: 2rem;
      padding-bottom: 0;
   }
   .menu__imgs {
      gap: 2rem;
   }
   .menu__pic {
      width: 18rem;
      transform: translateX(35%);
   }
}
@media (max-width: 1400px) {
   .menu__tabs-container {
      max-width: none;
      margin: auto;
      padding: 0 9rem;
      margin-bottom: 2rem;
   }
   .menu__content {
      gap: 2rem;
   }
   .menu__text {
      font-size: 0.7rem;
      padding-bottom: 1rem;
   }
}
@media (max-width: 1024px) {
   .menu__tabs-container {
      padding: 0 1.5rem;
      margin-bottom: 1.2rem;
   }
   .menu__tabs {
      padding-bottom: 0.4rem;
      border-bottom: 1px solid #566033;
   }
   .menu__tab,
   .menu__tab > a {
      font-size: 0.8rem;
   }
   .menu__content {
      gap: 3rem;
      padding: 0 1.5rem;
   }
   .menu__text {
      flex: auto;
      font-size: 0.7rem;
      padding-left: 0;
      padding-bottom: 0;
   }
   .menu__imgs {
      gap: 1.2rem;
   }
   .menu__pic {
      display: none;
   }
}
@media (max-width: 768px) {
   .menu__tabs-container {
      padding: 0 0.8rem;
      margin-bottom: 1.2rem;
   }
   .menu__tabs {
      padding-bottom: 0.4rem;
      border-bottom: 0.5px solid #566033;
   }
   .menu__tab,
   .menu__tab > a {
      font-size: 0.5rem;
   }
   .menu__content {
      padding: 0 0.8rem;
      flex-direction: column;
      gap: 1.2rem;
   }
   .menu__text {
      font-size: 0.7rem;
      padding-left: 0;
      padding-bottom: 0;
   }
   .menu__imgs {
      gap: 0;
   }
   .menu__img.last {
      display: none;
   }
   .menu__pic {
      flex: 1;
      width: 18rem;
      transform: translateX(40%);
   }
}

.section__title {
   font-size: 3rem;
   font-style: normal;
   font-weight: 500;
   line-height: normal;
   text-transform: uppercase;
   text-align: center;
   max-width: 43rem;
   margin: 0 auto;
   margin-bottom: 1.2rem;
}
.section__text {
   max-width: 43rem;
   margin: 0 auto;
   font-size: 1.2rem;
   font-style: normal;
   font-weight: 500;
   line-height: 160%;
   text-transform: uppercase;
   margin-bottom: 3rem;
   opacity: 0.8;
   text-align: center;
}
.swiper {
   position: static;
}
.swiper-slide {
   display: flex;
   align-items: center;
   justify-content: center;
   height: 13rem;
   border-radius: 0.8rem;
   overflow: hidden;
   transition: width 0.4s ease, height 0.4s ease;
}
.swiper-slide > img {
   object-fit: cover;
}
.swiper-slide-prev,
.swiper-slide-next {
   height: 18rem;
}
.swiper-slide-active {
   height: 25rem;
}
.swiper-wrapper {
   height: 25rem;
   align-items: center;
   margin-bottom: 1.2rem;
}
.about__buttons {
   display: flex;
   position: static;
   align-items: center;
   justify-content: center;
   gap: 1.2rem;
}
.swiper-button-prev,
.swiper-button-next {
   position: static;
   margin-top: 0;
   display: flex;
   align-items: center;
   justify-content: center;
   width: 3rem;
   height: 3rem;
   padding: 0.6rem;
   border-radius: 0.6rem;
   background: rgba(230, 99, 0, 0.2);
}
.swiper-button-next > img {
   transform: rotateZ(180deg);
}
@media (max-width: 1800px) {
   .section__title {
      font-size: 2rem;
      max-width: 32rem;
   }
   .section__text {
      max-width: 32rem;
      font-size: 0.8rem;
      margin-bottom: 2rem;
   }
   .swiper-slide {
      height: 10rem;
   }
   .swiper-slide-prev,
   .swiper-slide-next {
      height: 15rem;
   }
   .swiper-slide-active {
      height: 22rem;
   }
   .swiper-wrapper {
      height: 22rem;
   }
}
@media (max-width: 1400px) {
   .section__title {
      font-size: 2rem;
      max-width: none;
      margin-left: 0;
      margin-right: 0;
      padding: 0 8rem;
   }
   .section__text {
      font-size: 0.7rem;
      max-width: none;
      margin-left: 0;
      margin-right: 0;
      padding: 0 8rem;
   }
   .swiper-slide {
      height: 8rem;
   }
   .swiper-slide-prev,
   .swiper-slide-next {
      height: 11rem;
   }
   .swiper-slide-active {
      height: 16rem;
   }
   .swiper-wrapper {
      height: 16rem;
      margin-bottom: 0.8rem;
   }
   .about__buttons {
      gap: 0.8rem;
   }
   .swiper-button-prev,
   .swiper-button-next {
      width: 2rem;
      height: 2rem;
      padding: 0.4rem;
   }
}
@media (max-width: 1024px) {
   .section__title {
      font-size: 1.6rem;
      padding: 0 6rem;
      margin-bottom: 0.8rem;
   }
   .section__text {
      font-size: 0.6rem;
      padding: 0 6rem;
   }
   .swiper-slide {
      height: 6rem;
   }
   .swiper-slide-prev,
   .swiper-slide-next {
      height: 9rem;
   }
   .swiper-slide-active {
      height: 12rem;
   }
   .swiper-wrapper {
      height: 12rem;
   }
}
@media (max-width: 768px) {
   .section__title {
      font-size: 1.2rem;
      padding: 0 0.8rem;
   }
   .section__text {
      font-size: 0.5rem;
      padding: 0 0.8rem;
   }
   .swiper-slide {
      height: 4rem;
   }
   .swiper-slide-prev,
   .swiper-slide-next {
      height: 7rem;
   }
   .swiper-slide-active {
      height: 10rem;
   }
   .swiper-wrapper {
      height: 10rem;
      margin-bottom: 0.6rem;
   }
   .about__buttons {
      gap: 0.6rem;
   }
   .swiper-button-prev,
   .swiper-button-next {
      width: 2rem;
      height: 2rem;
      padding: 0.4rem;
   }
}
.sertificates__content {
   display: flex;
   align-items: center;
   justify-content: space-between;
   height: 26rem;
}
.sertificates__img {
   height: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
}
.sertificates__video {
   height: 100%;
   width: auto;
}
.sertificates__video > video {
   height: 100%;
   width: auto;
}
@media (max-width: 1800px) {
   .sertificates__content {
      height: 24rem;
   }
}
@media (max-width: 1400px) {
   .sertificates__content {
      height: 14rem;
   }
}
@media (max-width: 1024px) {
   .sertificates__content {
      justify-content: space-between;
   }
}
@media (max-width: 768px) {
   .sertificates__video {
      display: none;
   }
}

.banquets__btn-wrapper {
   display: flex;
   align-items: center;
   justify-content: center;
}
.banquets__btn:hover {
   opacity: 0.8;
}
.banquets__btn:active {
   transform: scale(0.97);
}
.banquets__btn {
   display: block;
   margin-bottom: 1.2rem;
   padding: 1.2rem 2rem;
   border-radius: 0.8rem;
   background: #e66300;
   font-size: 1rem;
   font-style: normal;
   font-weight: 600;
   line-height: normal;
   text-transform: uppercase;
   color: #fff;
   transition: opacity 0.2s, transform 0.2s;
}
@media (max-width: 1800px) {
   .banquets__btn {
      border-radius: 0.4rem;
      padding: 0.6rem 1.2rem;
      font-size: 0.7rem;
   }
}
@media (max-width: 1024px) {
   .banquets__btn {
      font-size: 0.6rem;
   }
}
.banquets__content {
   height: 25rem;
   position: relative;
}
.banquets__bg-text {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   font-size: 10rem;
   font-style: normal;
   font-weight: 800;
   line-height: 160%;
   text-transform: uppercase;
   color: #e66300;
   opacity: 0.4;
   white-space: nowrap;
}
.banquets__video > video {
   height: 100%;
   width: auto;
}
.banquets__video {
   position: absolute;
   top: 0;
   left: 50%;
   transform: translateX(-50%);
   height: 100%;
   border-radius: 0.8rem;
   overflow: hidden;
}
@media (max-width: 1800px) {
   .banquets__content {
      height: 18rem;
   }
   .banquets__bg-text {
      font-size: 7.5rem;
   }
}
@media (max-width: 1400px) {
   .banquets__content {
      height: 15rem;
   }
   .banquets__bg-text {
      font-size: 5.5rem;
   }
}
@media (max-width: 1024px) {
   .banquets__content {
      height: 12rem;
   }
   .banquets__bg-text {
      font-size: 4rem;
   }
}
@media (max-width: 768px) {
   .banquets__content {
      height: auto;
      padding: 0 0.8rem;
      display: flex;
      align-items: center;
      justify-content: center;
   }
   .banquets__bg-text {
      display: none;
   }
   .banquets__video {
      transform: none;
      position: static;
      height: auto;
      width: 100%;
   }
   .banquets__video > video {
      width: 100%;
      height: 100%;
      object-fit: contain;
   }
}

.card__btn-wrapper {
   display: flex;
   align-items: center;
   justify-content: center;
}
.card__btn:hover {
   opacity: 0.8;
}
.card__btn:active {
   transform: scale(0.97);
}
.card__btn {
   display: block;
   margin-bottom: 1.2rem;
   padding: 1.2rem 2rem;
   border-radius: 0.8rem;
   background: #566033;
   font-size: 1rem;
   font-style: normal;
   font-weight: 600;
   line-height: normal;
   text-transform: uppercase;
   color: #fff;
   transition: opacity 0.2s, transform 0.2s;
}
@media (max-width: 1800px) {
   .card__btn {
      border-radius: 0.4rem;
      padding: 0.6rem 1.2rem;
      font-size: 0.7rem;
   }
}
@media (max-width: 1024px) {
   .card__btn {
      font-size: 0.6rem;
   }
}
.card > .section__text {
   text-decoration: underline;
   text-underline-offset: 0.2rem;
   display: block;
}
.orange {
   font-size: 3rem;
   font-style: normal;
   font-weight: 800;
   text-transform: uppercase;
   color: #e66300;
   display: inline-block;
   transform: translate(30%, 60%);
}
.card__content {
   display: flex;
   justify-content: space-between;
   align-items: center;
   overflow: hidden;
}
.card__text {
   font-size: 3rem;
   font-style: normal;
   font-weight: 700;
   line-height: 140%;
   text-transform: uppercase;
   width: 33rem;
}
.card__img {
   height: 40rem;
   transform: translateX(200%);
}
.card__img.active {
   animation: appearMobile 0.5s ease forwards;
}
@media (max-width: 1800px) {
   .orange {
      font-size: 2rem;
   }
   .card__img {
      height: 25rem;
   }
}
@media (max-width: 1400px) {
   .orange {
      font-size: 1.8rem;
   }
   .card__text {
      font-size: 2rem;
      width: 23.5rem;
   }
   .card__img {
      height: 19rem;
   }
}
@media (max-width: 1024px) {
   .orange {
      font-size: 1.6rem;
   }
   .card__text {
      font-size: 1.2rem;
      width: 13rem;
   }
   .card__img {
      height: 15rem;
   }
}
@media (max-width: 768px) {
   .orange {
      font-size: 1.6rem;
   }
   .card__text {
      font-size: 0.7rem;
      width: 100%;
      text-align: center;
   }
   .card__content {
      flex-direction: column;
      gap: 1.2rem;
   }
}

.book {
   background: #ffd600;
   padding: 3rem 0;
}
.book__button:hover .book__text {
   transform: translateX(10%);
}
.book__button:active {
   transform: scale(0.97);
}
.book__button {
   display: flex;
   align-items: center;
   justify-content: space-between;
   background: none;
   width: 100%;
   transition: transform 0.2s ease;
}
.book__text {
   color: #566033;
   font-family: "Nunito Sans";
   font-size: 3rem;
   font-style: normal;
   font-weight: 700;
   line-height: 140%;
   text-transform: uppercase;
   transition: transform 0.2s ease;
}
.book__img {
   width: 9.2rem;
}
@media (max-width: 1400px) {
   .book {
      padding: 2rem 0;
   }
   .book__text {
      font-size: 2rem;
   }
   .book__img {
      width: 8.2rem;
   }
}
@media (max-width: 1024px) {
   .book {
      padding: 1.5rem 0;
   }
   .book__text {
      font-size: 1.2rem;
   }
   .book__img {
      width: 4.8rem;
   }
}
@media (max-width: 768px) {
   .book {
      padding: 0.8rem 0;
   }
   .book__text {
      font-size: 1.2rem;
   }
   .book__img {
      width: 3rem;
   }
}

footer {
   background: #566033;
   padding: 3rem 0 2rem;
   color: #fff;
   font-size: 1.2rem;
   font-style: normal;
   font-weight: 500;
   line-height: 160%;
}
.footer__info {
   margin-bottom: 4rem;
   display: grid;
   gap: 1.2rem;
   grid-template-columns: repeat(4, 1fr);
   grid-template-areas:
      "A A B B"
      "C D E E";
}
.footer__logo {
   height: 2.5rem;
   display: flex;
   justify-content: flex-start;
   grid-area: A;
}
.footer__address {
   grid-area: B;
   display: flex;
   align-items: center;
}
.footer__contacts {
   grid-area: C;
   display: flex;
   flex-direction: column;
   gap: 0.8rem;
   height: 100%;
}
.footer__menu {
   grid-area: D;
}
.footer__menu > ul {
   display: flex;
   flex-direction: column;
   gap: 0.8rem;
   height: 100%;
}
.footer__map {
   grid-area: E;
   height: 20rem;
   width: 100%;
   border-radius: 0.8rem;
   overflow: hidden;
}
.footer__sub > ul {
   font-size: 1rem;
   font-style: normal;
   font-weight: 300;
   line-height: 160%;
   display: flex;
   align-items: baseline;
   justify-content: space-between;
}
.socials {
   display: flex;
   gap: 0.6rem;
   margin-top: auto;
}
.socials > li {
   display: block;
   height: 1.6rem;
}
@media (max-width: 1800px) {
   footer {
      padding: 2rem 0 1rem;
      font-size: 0.8rem;
   }
   .footer__info {
      margin-bottom: 3rem;
      gap: 0.8rem;
   }
   .footer__logo {
      height: 1.8rem;
   }
   .footer__contacts {
      gap: 0.6rem;
   }
   .footer__menu > ul {
      gap: 0.6rem;
   }
   .footer__map {
      height: 15rem;
   }
   .footer__sub > ul {
      font-size: 0.8rem;
   }
}
@media (max-width: 1400px) {
   .footer__map {
      height: 11rem;
   }
   .footer__sub > ul {
      font-size: 0.7rem;
   }
}
@media (max-width: 1024px) {
   footer {
      padding: 1.5rem 0 0.5rem;
      font-size: 0.6rem;
   }
   .socials {
      gap: 0.4rem;
   }
   .socials > li {
      height: 1.2rem;
   }
   .footer__sub > ul {
      font-size: 0.5rem;
   }
}
@media (max-width: 768px) {
   .footer__info {
      gap: 1.2rem;
      grid-template-columns: repeat(2, 1fr);
      grid-template-areas:
         "A D"
         "C D"
         "C D"
         "C D"
         "B B"
         "E E";
   }
   .footer__sub > ul {
      flex-wrap: wrap;
      gap: 0.5rem;
   }
   .footer__sub > li {
      flex: 1;
   }
}
