:root {
   font-synthesis: none;
   text-rendering: optimizeLegibility;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}
html {
   font-size: 20px;
   line-height: normal;
   -webkit-text-size-adjust: 100%;
   overflow-y: scroll;
   scroll-behavior: smooth;
}
@media (max-width: 1800px) {
   html {
      font-size: 20px;
   }
}
@media (max-width: 1400px) {
   html {
      font-size: 1.95vw;
   }
}
@media (max-width: 1024px) {
   html {
      font-size: 2.6vw;
   }
}
@media (max-width: 768px) {
   html {
      font-size: 5.33vw;
   }
}
body {
   background-color: #e2e2e2;
   color: #566033;
   font-family: "Nunito Sans";
   scrollbar-gutter: stable;
}
.container {
   max-width: 78rem;
   margin: 0 auto;
}
@media (max-width: 1800px) {
   .container {
      max-width: 65rem;
   }
}
@media (max-width: 1400px) {
   .container {
      max-width: none;
      margin: 0;
      padding: 0 2.5rem;
   }
}
@media (max-width: 768px) {
   .container {
      padding: 0 1rem;
   }
}
img {
   width: 100%;
   height: 100%;
   object-fit: contain;
}
main {
   overflow: hidden;
}

header {
   position: fixed;
   width: 100%;
   top: 0;
   overflow: hidden;
   z-index: 1;
}
.header {
   padding-top: 1.2rem;
   padding-bottom: 1.2rem;
   display: flex;
   align-items: center;
   justify-content: space-between;
}
@media (max-width: 1800px) {
   .header {
      padding-top: 1rem;
      padding-bottom: 1rem;
   }
}
@media (max-width: 768px) {
   .header {
      padding-top: 0.8rem;
      padding-bottom: 0.8rem;
   }
}
.header__btns {
   display: flex;
   align-items: center;
   gap: 2.5rem;
}
@media (max-width: 1400px) {
   .header__btns {
      gap: 2rem;
   }
}
@media (max-width: 1024px) {
   .header__btns {
      gap: 1.2rem;
   }
}
.header__logo {
   width: 4rem;
   display: flex;
   align-items: center;
   justify-content: center;
}
@media (max-width: 1800px) {
   .header__logo {
      width: 2.8rem;
   }
}
@media (max-width: 768px) {
   .header__logo {
      width: 1.2rem;
   }
}
.header__link {
   display: block;
   color: #fff;
   font-size: 1rem;
}
@media (max-width: 1800px) {
   .header__link {
      font-size: 0.7rem;
   }
}
@media (max-width: 1024px) {
   .header__link {
      font-size: 0.6rem;
   }
}
@media (max-width: 768px) {
   .header__link {
      display: none;
   }
}
.header__contact {
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 0.3rem;
}
@media (max-width: 768px) {
   .header__contact {
      gap: 0.2rem;
   }
}
.header__contact-link {
   display: block;
   color: #fff;
   font-size: 1rem;
}
@media (max-width: 1800px) {
   .header__contact-link {
      font-size: 0.7rem;
   }
}
@media (max-width: 1024px) {
   .header__contact-link {
      font-size: 0.6rem;
   }
}
@media (max-width: 768px) {
   .header__contact-link {
      font-size: 0.5rem;
   }
}
.header__burger {
   display: none;
   width: 1.2rem;
   background: none;
}
@media (max-width: 768px) {
   .header__burger {
      display: flex;
      align-items: center;
      justify-content: center;
   }
}
.burger {
   display: none;
   position: fixed;
   top: 0;
   right: 0;
   overflow: hidden;
   z-index: 1;
   height: 100%;
   padding: 1.2rem;
   background: #566033;
   border-radius: 1.2rem 0 0 1.2rem;
   transform: translateX(100%);
   transition: transform 0.2s ease;
}
@media (max-width: 768px) {
   .burger {
      display: block;
   }
}
.burger.active {
   transform: translateX(0);
}
.burger__container {
   display: flex;
   flex-direction: column;
   gap: 2rem;
}
.burger__closer {
   width: 1.2rem;
   height: 1.2rem;
   display: flex;
   align-items: center;
   justify-content: center;
   background: none;
   align-self: flex-end;
   padding: 0.1rem;
}
.burger__list {
   display: flex;
   flex-direction: column;
   gap: 1.2rem;
   padding-right: 1.2rem;
}
.burger__item {
   display: block;
}
.burger__link {
   color: #fff;
   font-size: 0.7rem;
   font-style: normal;
   font-weight: 300;
   line-height: normal;
}

.screen {
   height: 100vh;
   position: relative;
}
.screen__container {
   height: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 3rem;
   position: absolute;
   width: 100%;
   height: 100%;
}
@media (max-width: 1800px) {
   .screen__container {
      gap: 1.2rem;
   }
}
.screen__bg {
   position: absolute;
   width: 100%;
   height: 100%;
   background: #000;
}
.screen__bg img {
   object-fit: cover;
   opacity: 0.5;
}
.screen__logo {
   width: 16rem;
}
@media (max-width: 1800px) {
   .screen__logo {
      width: 10rem;
   }
}
@media (max-width: 1400px) {
   .screen__logo {
      width: 8rem;
   }
}
@media (max-width: 1024px) {
   .screen__logo {
      width: 6.5rem;
   }
}
.screen__btn {
   display: block;
   padding: 1.2rem 2rem;
   border-radius: 0.8rem;
   border: 1px solid #fff;
   background: rgba(255, 255, 255, 0.08);
   -webkit-backdrop-filter: blur(4px);
   backdrop-filter: blur(4px);
   font-size: 1rem;
   font-style: normal;
   font-weight: 600;
   line-height: normal;
   text-transform: uppercase;
   color: #fff;
}
@media (max-width: 1800px) {
   .screen__btn {
      border-radius: 0.4rem;
      padding: 0.6rem 1.2rem;
      font-size: 0.7rem;
   }
}
@media (max-width: 1024px) {
   .screen__btn {
      font-size: 0.6rem;
   }
}
